
html {
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
 }
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
 body {
   font-family: 'Poppins', sans-serif;
   background-color: #c5ccf21a !important;
 }
.text-color {
  color: #00000099 !important;
}
.tab-text-color {
   color: #202224;
}
.bg-light-purple {
  background-color: #17508F1A ;
}
.dark-purple  {
   color: #168DBC !important;
} 
.text-color-red {
   color: #A41D30 !important;
}
.apexcharts-toolbar {
   display:none !important;
}
 .search-container {
   border-radius: 50px;
   background-color: #f0f0f0;
}
.search-input {
   background-color: transparent;
   padding: 12px 15px;
   font-size: 14px;
   width: 400px !important;
   color: rgba(0, 0, 0, 1) !important;
   border: none; 
   box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.10) !important; 
}

 .search-input-height {
   height: 55px; 
 }
 .search-input-slim-height {
   height: 45px; 
 }
 @media (max-width: 430px) {
   .search-input {
   
      width: 290px !important;
      
    }
 }
 
 .search-icon img {
   cursor: pointer;
 }

.header-badges {
   background-color: #F1F1FF;
   color: #1C1C23 !important;
}
  
.header-badges:hover {
   background-color: #758AFF;
   color: #FFFFFF !important;

}
.auth-input-color::placeholder {
   color: #FFFFFF !important
}
.letter-spacing-15 {
   letter-spacing: 0.15em;
 }
.form-switch .form-check-input:checked {
   background-color: #17508F !important;
   border-color: #17508F  !important;
}

.btn-outline-color  {
   border: solid 1px #17508F !important;
   color: #17508F !important;
}
.btn-outline-color:hover   {
   background-color: #17508F !important;
   color: white !important;
}
.btn-auth-outline-color:hover  {
   border: solid 1px #168DBC !important;
   color: #168DBC !important;
   background-color: white !important;
}
.btn-auth-outline-color   {
   background-color: #168DBC !important;
   border: solid 1px #168DBC !important;
   color: white !important;
}

.refund-color {
color: #17508F;
}
.btn-light-purple-color {
   background-color: #F1F1FF !important;
   color: #17508F1A !important;
}
.btn-fill-color {
   background-color: #17508F !important;
   color: white !important;
}
.btn-fill-light-outline {
   background-color: white !important;
   color: white !important;
   border: solid 1px #D0D5DD !important;
}
.btn-fill-color:hover {
   background-color: white !important;
   color: #17508F !important;
   border: solid 1px #17508F !important;
}


.table-head-bg {
   background-color: #17508F1A !important;
}
.authBgImg {
   background-image: url("../images/admin/LoginBackground.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.icon-input-dropdown:before {
   content: "\e9fe";
}
.dropdown-arrow-hidden::after {
   display: none !important;
 }

.cursor-pointer {
   cursor: pointer;
}

 .box-shadow-custom {
   box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) !important;
 }

::-webkit-scrollbar {
   width: 0.3em;
   border-radius: 10px; 
 }
 
::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px white;
   border-radius: 10px; 
 }
 
::-webkit-scrollbar-thumb {
   background-color: #EAECF0;
   outline: 1px solid #EAECF0;
   border-radius: 10px; 
 }
 .hover-effect:hover {
   background-color: #eff1f5 !important;
 }
 .fs-8 {
    font-size: 8px !important;
 }
 
 .fs-9 {
    font-size: 9px !important;
 }
 
 .fs-10 {
    font-size: 10px !important;
 }
 
 .fs-11 {
    font-size: 11px !important;
 }
 
 .fs-12 {
    font-size: 12px !important;
 }
 
 .fs-13 {
    font-size: 13px !important;
 }
 .fs-14 {
    font-size: 14px !important;
 }
 
 .fs-15 {
    font-size: 15px !important;
 }
 
 .fs-45 {
    font-size: 45px;
 }
 
 .fs-55 {
    font-size: 55px;
 }
 
 .fs-47 {
    font-size: 47px;
 }
 
 .fs-16 {
    font-size: 16px !important;
 }
 
 .fs-17 {
    font-size: 17px;
 }
 
 .fs-18 {
    font-size: 18px;
 }
 .fs-19 {
    font-size: 19px;
 }
 
 .fs-20 {
    font-size: 20px;
 }
 .fs-22 {
    font-size: 22px;
 }
 
 .fs-25 {
    font-size: 25px;
 }
 .fs-24 {
    font-size: 24px;
 }
 .fs-26 {
    font-size: 26px;
 }
 .fs-28 {
    font-size: 28px;
 }
 
 .fs-30 {
    font-size: 30px;
 }
 .fs-31 {
    font-size: 31px;
 }
 
 .fs-34 {
    font-size: 34px;
 }
 .fs-35 {
    font-size: 35px;
 }
 .fs-36 {
    font-size: 36px;
 }
 
 .fs-40 {
    font-size: 40px;
 }
 
 .fw-300 {
    font-weight: 300 !important;
 }
 .fw-400 {
    font-weight: 400 !important;
 }
 
 .fw-500 {
    font-weight: 500 !important;
 }
 
 .fw-600 {
    font-weight: 600 !important;
 }
 
 .fw-700 {
    font-weight: 700 !important;
 }
 
 .fw-800 {
    font-weight: 800;
 }

 .form-control:focus{
   box-shadow: 0 0 0 1px #2684FF !important;
   border-color: #2684FF !important;
 }

/* Base styles for the list items */
.password-strength-indicator li {
   height: 10px;
   list-style-type: none;
   border-radius: 5px;
   transition: background-color 0.3s ease;
   background-color: #3535421A;
 }
 .w-md-50{
   width: 50% !important;
}
 @media(max-width:768px)
 {
   .w-md-50{
      width: 100% !important;
   }
 }
 @media (max-width: 768px) {

   .fs-25 {
      font-size: 18px;
   }
   .fs-13 {
      font-size: 12px !important;
  }
   .fs-45 {
      font-size: 25px !important;
   }

   .fs-55 {
      font-size: 25px !important;
   }

   .fs-19 {
      font-size: 15px !important;
   }
   .fs-20 {
      font-size: 16px !important;
   }
   .fs-26 {
      font-size: 20px !important;
   }

   .fs-30 {
      font-size: 20px !important;
   }

   .fs-35 {
      font-size: 25px !important;
   }
   .fs-36 {
      font-size: 19px !important;
      padding-top: 10px;
   }

   .fs-40 {
      font-size: 25px !important;
   }

   .fw-500 {
      font-weight: 400 !important;
   }

   .fw-600 {
      font-weight: 500 !important;
   }

   .fw-700 {
      font-weight: 600 !important;
   }

   .fw-800 {
      font-weight: 700 !important;
   }
}